input,
input[type="radio"]+label,
input[type="checkbox"]+label:before,
select option,
select {
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

select option {
  border-radius: 0;
  border: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}













































































































/*TMP*/

#searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.search-group {
  position: relative;
  margin-bottom: 20px;
}

.search-group .search-icon i {
  line-height: 2.0em;
}














































































































/*TMP*/

.table td i.fa[disabled="disabled"] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.alpha {
  background-image: url('../images/login_background.jpg');
}

input:focus {
  outline: 0;
  border-color: #07529e;
}

input:focus+.input-icon i {
  color: #0F6CC9;
}

input:focus+.input-icon:after {
  border-right-color: #0F6CC9;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label,
select {
  display: inline-block;
  width: 50%;
  float: left;
  border-radius: 0;
}

input[type="radio"]+label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

input[type="radio"]+label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

input[type="radio"]+label i {
  padding-right: 0.4em;
}

input[type="radio"]:checked+label,
input:checked+label:before,
select:focus,
select:active {
  background-color: #0F6CC9;
  color: #fff;
  border-color: #07529e;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}

input[type="checkbox"]+label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}

input[type="checkbox"]+label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}

input:checked+label:after {
  opacity: 1;
}

select {
  height: 3.4em;
  line-height: 2;
}

select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

select:focus,
select:active {
  outline: 0;
}

select option {
  background-color: #0F6CC9;
  color: #fff;
}

input[type="file"] {
  max-width: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}


.input-group {
  margin-bottom: 1em;
  zoom: 1;
}

.input-group:before,
.input-group:after {
  content: "";
  display: table;
}

.input-group:after {
  clear: both;
}

.input-group-icon {
  position: relative;
}

.input-group-icon input {
  padding-left: 4.4em;
}

.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}

.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.row {
  zoom: 1;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}

.col-half:last-of-type {
  padding-right: 0;
}

.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}

.col-third:last-of-type {
  padding-right: 0;
}


@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}

ng-view {
  display: block;
  position: relative;
}

a {
  cursor: pointer;
}

hr {
  margin-top: 0;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}

h2,
.h2 {
  font-size: 28px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

.tab-content>.tab-pane {
  padding-top: 20px;
}

.actionButtons {
  padding-top: 15px;
}

.actionButtons button:first-child {
  margin-right: 5px;
}

.actionButtons button i {
  margin-right: 5px;
}

.actionButtons button:first-child i {
  font-size: 16px;
}

.dashboardHeader h2 {
  color: #444;
}

.dashboardHeader h2.welcomeMessage {
  font-size: 16px;
  margin-top: 0;
}

.dashboardHeader h2.welcomeMessage span {
  font-size: 12px;
  display: block;
  color: #777777;
  margin-top: 4px;
}

.table>thead>tr>td.info,
.table>tbody>tr>td.info,
.table>tfoot>tr>td.info,
.table>thead>tr>th.info,
.table>tbody>tr>th.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>tbody>tr.info>td,
.table>tfoot>tr.info>td,
.table>thead>tr.info>th,
.table>tbody>tr.info>th,
.table>tfoot>tr.info>th {
  background-color: #f1faff;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  padding: 8px 12px;
}

.detailTable {
  padding-top: 12px;
  padding-bottom: 20px;
}


.detailTable .search-group {
  position: relative;
  margin-bottom: 20px;
}

.detailTable input[type="search"] {
  width: 420px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 5px 30px 5px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: left;
}

.detailTable input[type=search]:focus {
  width: 80%;
}

.detailTable .search-group .search-icon i {
  line-height: 2.0em;
}

.searchWrap .actionButtons {
  padding-top: 2px;
}


.detailTable .invoiceTable update-invoice {
  padding: 5px 2px;
  cursor: pointer;
  color: #777777;
}

.detailTable .invoiceTable .noDataMessage {
  padding: 50px 0;
  text-align: center;
  font-size: 16px;
}

.modal-dialog .modal-content form {
  margin: 0;
}

.detailTable .invoiceTable .table th {
  text-align: left;
  word-wrap: break-word;
}

.detailTable .invoiceTable .table,
.detailTable .invoiceTable table.table th,
.detailTable .invoiceTable table.table td {
  font-size: 13px;
}

.detailTable .invoiceTable .table td .custName {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.detailTable .invoiceTable .table td .custName i.fa {
  position: absolute;
  padding: 4px;
  cursor: pointer;
  top: 0;
}

.detailTable .invoiceTable .table td .custName i.fa.fa-pencil-square-o {
  right: 0;
}

.detailTable .invoiceTable .table td .custName i.fa.fa-user {
  left: 0;
  padding-top: 2px;
  padding-left: 1px;
}

.detailTable .invoiceTable .table td .custName i.fa[disabled="disabled"] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.detailTable .invoiceTable .table td .verificationSign {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.detailTable .invoiceTable .table td .verificationSign i.fa {
  position: absolute;
  padding: 2px 4px 4px 1px;
  top: 0;
  left: 0;
  margin-left: 2px;
  font-size: 14px;
}

.detailTable .invoiceTable .table td .verificationSign .autoVerified {
  font-weight: normal;
  font-size: 12px;
  color: #368ee0;
}

.detailTable .invoiceTable .table td .verificationSign .autoVerified i.fa {
  color: #398439;
}

.detailTable .invoiceTable .table td .verificationSign .manualVerified {
  font-weight: normal;
  font-size: 12px;
  color: #33b64e;
}

.detailTable .invoiceTable .table td .verificationSign .manualVerified i.fa {
  color: #398439;
}

.detailTable .invoiceTable .table td .verificationSign .notVerified {
  font-weight: normal;
  font-size: 12px;
  color: #ccc;
}


.detailTable .invoiceTable .table td .btn {
  font-size: 12px;
  padding: 3px 8px;
}

.detailTable .invoiceTable .table td .shareButtons .btn {
  margin-bottom: 4px;
}

.detailTable .invoiceTable .table td .shareButtons .btn:first-child {
  margin-right: 4px;
}

.detailTable .invoiceTable .table td .correctBtn,
.detailTable .invoiceTable .table td .wrongBtn {
  display: inline-block;
  vertical-align: top;
}

.detailTable .invoiceTable .table td .correctBtn {
  margin-right: 4px;
}

.detailTable .invoiceTable .table td .modal .modal-content .btn {
  font-size: 14px;
  padding: 6px 12px;
}

.detailTable .invoiceTable .table tr.verified {
  background: #c0f2ca;
}

.detailTable .invoiceTable .table tr.verified:hover {
  background: #a2e8b0;
}

.detailTable .invoiceTable .table tr.mismatched {
  background: #ffe7ce;
}

.detailTable .invoiceTable .table tr.mismatched:hover {
  background: #f6d5b3;
}

.detailTable .invoiceTable .table tr.notVerified {
  background: #fafafa;
}

.highlightPopupFormFields {
  border: 1px solid #888888;
}

.fileUpload {
  margin-bottom: 10px;
}

.fileUpload pre {
  display: block;
  max-width: 200px;
  padding: 1.2em 1em;
  font-size: 14px;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.fileUpload .infoBtn {
  display: inline-block;
  position: relative;
}

.fileUpload .infoBtn .fa {
  padding: 10px 10px 10px 5px;
  font-size: 16px;
  color: #33b64e;
  cursor: pointer;
}

.fileUpload .infoBtn .infoText {
  display: none;
  width: 450px;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  left: 20px;
  top: 12px;
  padding: 10px 15px;
  border-radius: 6px;
}

.fileUpload .infoBtn .infoText ol,
.fileUpload .infoBtn .infoText li {
  padding-left: 0;
  margin-left: 10px;
}

.fileUpload .infoBtn:hover .infoText {
  display: block;
}

.headerValSettings {
  // padding: 15px;
  // margin-top: 15px;
  // border-top: 1px solid #dddddd;
}

.headerValSettings h3 {
  margin-bottom: 20px;
}

.headerValSettings #sale {
  margin-bottom: 15px;
}

.contactUpdate h4 {
  margin-bottom: 20px;
}

.contactUpdate .tab-content,
.contactUpdate .contactUpdateSubmit {
  max-width: 1170px;
  margin: 0 auto;
}



.search-group .search-icon {
  position: absolute;
  padding: 2px 10px 2px 10px;
  top: 0;
  left: 15px;
  text-align: center;
  pointer-events: none;
}



.search-group .remove-icon {
  float: left;
  padding: 7px 10px 2px 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-30px);
  color: #888888;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  z-index: 999;
  position: relative;
}

.search-group .remove-icon:hover,
.search-group .remove-icon:focus {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
}


.invoiceSummaryWrap {
  margin-bottom: 20px;
}

.invoiceSummaryWrap h4 {
  text-align: left;
}

.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCell {
  padding: 15px;
  border: 1px solid #ecf1f0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCell .invoiceSummaryTitle {
  margin-bottom: 8px;
}

.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCell .invoiceSummaryValue {
  font-size: 15px;
  font-weight: 700;
}

.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellTotal {
  background: #d5f6ff;
  border-bottom: 5px solid #45b1cd;
}

.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellTotal:hover,
.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellTotal.focused {
  background: #78d5ed;
}

.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellVerified {
  background: #c0f2ca;
  border-bottom: 5px solid #33b64e;
}

.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellVerified:hover,
.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellVerified.focused {
  background: #7ee592;
}

.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellNotVerified {
  background: #fafafa;
  border-bottom: 5px solid #bbbbbb;
}

.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellNotVerified:hover,
.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellNotVerified.focused {
  background: #dbdbdb;
}

.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellMismatched {
  background: #ffe7ce;
  border-bottom: 5px solid #f0af6c;
}

.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellMismatched:hover,
.invoiceSummaryWrap .invoiceSummary .invoiceSummaryCellMismatched.focused {
  background: #f9c590;
}

.datePickerWrap {
  margin-bottom: 20px;
}

ng-combo-date-picker {
  display: block;
  max-width: 200px;
}

ng-combo-date-picker select[ng-model="month"] {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tempDashboard {
  max-width: 740px;
  border: 1px solid #ee7777;
  background: #ffeeee;
  border-radius: 10px;
  margin: 0 auto 20px;
  padding: 20px;
}

.tempDashboard h4 {
  margin-top: 5px;
}

.tempDashboard h5 {
  font-weight: 700;
}

.tempDashboard .input-group {
  display: block;
}

.tempDashboard .otpShare {
  margin-bottom: 0;
}

.tempDashboard .otpShare input#partitioned {
  margin-bottom: 15px;
  padding: 15px 0 15px 15px;
  background-size: 55px 1px;
  background-position-x: 40px;
}

.tempDashboard .otpShare input#partitioned:focus {
  border: 1px solid #c0c0c0;
}

.tempDashboardLogo {
  text-align: center;
  margin: 30px 0 50px;
}

.navbar {
  border-radius: 0;
}

.tabWrap .nav-tabs {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.container .loginForm {
  margin: 25px auto 20px;
  width: 100%;
  max-width: 450px;
  padding: 30px; // height: 344px;
}

//1080 - 344 / 2
//1056 - 30 - 30 - 344
.container .loginForm h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  color: #444;
}

.loginForm h2 .glyphicon {
  font-size: 26px;
}

.loginForm.jumbotron {
  background-color: rgba(238, 238, 238, 0.6);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.loginForm .form-group .text-danger {
  margin-top: 10px;
  display: block;
}

.registrationForm {
  padding-bottom: 20px;
}

.registrationForm h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #444;
}

.registrationForm .inputGroupWrap {
  padding-bottom: 20px;
  position: relative;
}

.registrationForm .input-group {
  display: block;
  margin-bottom: 5px;
}

.registrationForm .input-group .form-control {
  display: inline-block;
  padding: 14px 14px 14px 62px;
  border-radius: 0px !important;
  height: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.registrationForm.loginForm .input-group .form-control {
  padding: 9px 9px 9px 62px;
}

.registrationForm .input-group .form-control {
  height: 50px;
}

.registrationForm .input-group select.form-control {
  color: #555555;
  -webkit-appearance: none;
}

.registrationForm .input-group select.form-control option {
  background-color: #fff;
  color: #555555;
}

.registrationForm .input-group select.form-control:focus {
  background-color: #fff;
  color: #555555;
}

.registrationForm .input-group-icon .input-icon {
  z-index: 9;
}

.registrationForm .input-group-icon .input-icon i {
  line-height: 3.4em;
}

.registrationForm.loginForm .input-group-icon .input-icon i {
  line-height: 50px;
}

.registrationForm.loginForm .input-group-icon .input-icon {
  line-height: 50px;
  height: 50px;
}

.registrationForm .alert {
  padding: 0 0 0 15px;
  margin: 0;
  background: none;
  border: 0 none;
  position: absolute;
  bottom: 7px;
  left: 0;
  font-size: 12px;
}

.registrationForm h4 {
  color: #666666;
}

.regLink span {
  margin-right: 10px;
}

.forgotPwdLink {
  margin-top: 10px;
}

.navbar-inverse {
  background-color: #0072e4;
  border: 0 none;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #333333;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #000000
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #286090;
}

.navbar-inverse .navbar-collapse {
  float: right;
}

.dropdown-menu {
  min-width: 120px;
}

// .dropdown-menu>li>a:hover,
// .dropdown-menu>li>a:focus {
//   background-image: none !important;
// }
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: #368ee0;
  color: #fff
}



.table-responsive {
  border: 1px solid #ddd;
}

.detailTable table.table {
  margin-bottom: 0;
}

table.table th {
  font-size: 14px;
  color: #666666;
}

table.table td {
  font-size: 14px;
}

.mobileTitle {
  display: none;
  font-weight: 700;
  margin-right: 5px;
  vertical-align: baseline;
}

.navbar-brand {
  padding: 5px 15px 5px 0;
}

.navbar-brand img {
  max-height: 100%;
  max-width: auto;
}

.registrationForm .thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

.shareLinks {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.shareLinks .dropdown-toggle {
  border-radius: 4px;
}

.shareLinks .dropdown-menu {
  left: auto;
  right: 0;
}

.shareLinks .dropdown-menu>li>a>.fa {
  width: 18px;
}

.shareLinks>li>a {
  background-color: #eee;
  padding: 8px;
  display: inline-block;
}

label.shareLinkText {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 0;
  overflow: auto;
}

.registrationForm h4 {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.modal-dialog {
  width: 96%;
  max-width: 980px;
}

.modal-dialog {
  text-align: left;
}

.modal-dialog .modal-body .input-group {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

.modal-dialog .modal-body .input-group:nth-child(odd) {
  clear: left;
}

.modal-dialog .modal-body .input-group .form-control {
  display: block;
  float: none;
}

.modal-dialog .modal-body .input-group input.form-control,
.modal-dialog .modal-body .input-group select.form-control {
  border-radius: 4px;
}

.modal-dialog .alert {
  padding: 3px 0 0;
  margin: 0;
  background: none;
  border: 0 none;
  font-size: 12px;
}

.modal-dialog select.form-control option {
  background-color: #fff;
  color: #555555;
}

.modal-dialog select.form-control:focus {
  background-color: #fff;
  color: #555555;
}

.toUpper {
  text-transform: uppercase
}

popup-info {
  display: inline-block;
  margin-top: 20px;
}


.btn {
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  filter: none;
}


.btn:hover {
  text-shadow: none;
}

.btn:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.btn-default {
  background: #eee;
  color: #444;
}

.btn-default:hover {
  background: #ccc;
}

.btn.btn-primary {
  background: #368ee0;
  color: #fff;
  text-shadow: none;
  filter: none;
}

.btn.btn-danger {
  background: #ff4433;
  text-shadow: none;
  color: #fff;
  filter: none;
}

.btn.btn-primary:hover {
  background: #1e74c5;
}

.btn.btn-danger:hover {
  background: #E51400;
}

.asterisk_input {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 17px;
  width: 12px;
  height: 12px;
  z-index: 9;
}

.asterisk_input:after {
  content: " *";
  color: #e32;
}


// .profile {
//   border: 1px solid silver;
//   margin: 0 2px;
//   padding: .35em .625em .75em;
// }

/*header home start*/

@media (max-width: 976px) {
  #navigation .main-nav>li>a {
    font-size: 12px;
    padding: 10px 8px !important;
  }
}

#navigation .main-nav {
  float: left;
  margin: 0;
  padding: 0;
}

#navigation .main-nav>li {
  list-style-type: none;
  float: left;
  margin: 0;
}

#navigation .main-nav>li>a {
  display: block;
  padding: 10px 15px;
  line-height: 30px;
  color: #fff;
}

#navigation .main-nav>li>a:hover {
  text-decoration: none;
  background: #0055a9;
}



table tbody .fa-times {
  color: red;
  font-size: 1.5em;
}

table tbody .fa-check {
  color: green;
  font-size: 1.5em;
}

table tbody .fa-minus {
  font-size: 1.5em;
}



// .fileCompareStatusRed {
//   color: red;
//   font-size: 1.5em;
// }
// .fileCompareStatusGreen {
//   color: green;
//   font-size: 1.5em;
// }

/*header home end*/


/***User Header***/

#navigation .user .dropdown {
  float: left;
}


#navigation .user .dropdown.open {
  background: #0055a9;
}

#navigation .user .dropdown>a:hover {
  background: #0055a9;
}

#navigation .user .dropdown>a {
  display: block;
  color: #fff;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
}

#navigation .user .icon-nav>li>a:hover {
  background: #0055a9;
  text-decoration: none;
}


#navigation .user .dropdown>a:hover {
  background: #0055a9;
}

#navigation .user {
  float: right;
  margin-right: -10px;
}

#navigation .user>a {
  color: #fff;
}

.headerDropdown .headerDropdownSelectWrap {
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.headerDropdown .headerDropdownSelectWrap label {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px;
  float: left;
}

.headerValSettings .headerDropdown .bootstrap-select {
  width: 280px!important;
  float: left;
}

.headerDropdown .headerDropdownSelectWrap select {
  width: 100%;
}

#partitioned {
  padding-left: 15px;
  letter-spacing: 42px; // border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  font-size: 15px;
}

.headerValSettings .headerDropdown .btn.input-error,
.headerValSettings .headerDropdown .btn-default.input-error {
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  border: 1px solid #66afe9;
}

.headerValSettings .headerDropdown .btn,
.headerValSettings .headerDropdown .btn-default,
.headerValSettings .headerDropdown .btn:hover,
.headerValSettings .headerDropdown .btn-default:focus {
  background: #eee;
  border: 1px solid #ddd;
  outline: none!important;
}

.headerValSettings .headerDropdown .open>.btn.input-error:hover,
.headerValSettings .headerDropdown .open>.btn-default.input-error:focus,
.headerValSettings .headerDropdown .btn.input-error:hover,
.headerValSettings .headerDropdown .btn-default.input-error:focus {
  background: #eee;
  border: 1px solid #66afe9!important;
  outline: none!important;
}

.headerValSettings .headerDropdown .btn-group.open .dropdown-toggle {
  box-shadow: none!important;
}

.myContacts .invoiceTable .fa-pencil-square-o {
  cursor: pointer;
}




































































































































































































































/*
LODER
 */

.loderBackground {
  background: #e9e9e9; // display: none;
  // position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

.loaderOverlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

#circularG {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 50%;
  left: 50%;
  margin-left: -29px;
  margin-top: -29px;
}

.circularG {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 14px;
  height: 14px;
  border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  animation-name: bounce_circularG;
  -o-animation-name: bounce_circularG;
  -ms-animation-name: bounce_circularG;
  -webkit-animation-name: bounce_circularG;
  -moz-animation-name: bounce_circularG;
  animation-duration: 1.1s;
  -o-animation-duration: 1.1s;
  -ms-animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  -moz-animation-duration: 1.1s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

#circularG_1 {
  left: 0;
  top: 23px;
  animation-delay: 0.41s;
  -o-animation-delay: 0.41s;
  -ms-animation-delay: 0.41s;
  -webkit-animation-delay: 0.41s;
  -moz-animation-delay: 0.41s;
}

#circularG_2 {
  left: 6px;
  top: 6px;
  animation-delay: 0.55s;
  -o-animation-delay: 0.55s;
  -ms-animation-delay: 0.55s;
  -webkit-animation-delay: 0.55s;
  -moz-animation-delay: 0.55s;
}

#circularG_3 {
  top: 0;
  left: 23px;
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}

#circularG_4 {
  right: 6px;
  top: 6px;
  animation-delay: 0.83s;
  -o-animation-delay: 0.83s;
  -ms-animation-delay: 0.83s;
  -webkit-animation-delay: 0.83s;
  -moz-animation-delay: 0.83s;
}

#circularG_5 {
  right: 0;
  top: 23px;
  animation-delay: 0.97s;
  -o-animation-delay: 0.97s;
  -ms-animation-delay: 0.97s;
  -webkit-animation-delay: 0.97s;
  -moz-animation-delay: 0.97s;
}

#circularG_6 {
  right: 6px;
  bottom: 6px;
  animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
}

#circularG_7 {
  left: 23px;
  bottom: 0;
  animation-delay: 1.24s;
  -o-animation-delay: 1.24s;
  -ms-animation-delay: 1.24s;
  -webkit-animation-delay: 1.24s;
  -moz-animation-delay: 1.24s;
}

#circularG_8 {
  left: 6px;
  bottom: 6px;
  animation-delay: 1.38s;
  -o-animation-delay: 1.38s;
  -ms-animation-delay: 1.38s;
  -webkit-animation-delay: 1.38s;
  -moz-animation-delay: 1.38s;
}




@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.3);
  }
}

@-o-keyframes bounce_circularG {
  0% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(.3);
  }
}

@-ms-keyframes bounce_circularG {
  0% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(.3);
  }
}

@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(.3);
  }
}

@-moz-keyframes bounce_circularG {
  0% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(.3);
  }
}



































































































































































































































/***User Header***/


/************************ Responsive ***********************/

@media only screen and (max-width: 1279px) {
  .invoiceSummaryWrap .invoiceSummary.salesInvoiceSummary .invoiceSummaryCell .invoiceSummaryTitle {
    min-height: 40px;
  }
}

@media only screen and (max-width: 990px) {
  #navigation .user .dropdown>a {
    font-size: 12px;
    padding: 16px 10px;
  }
  h1,
  .h1 {
    margin-top: 10px;
    font-size: 25px;
  }
  .invoiceSummaryWrap .invoiceSummary .invoiceSummaryCell {
    margin-bottom: 10px;
  }
  .invoiceSummaryWrap .invoiceSummary.salesInvoiceSummary .invoiceSummaryCell .invoiceSummaryTitle {
    min-height: 0;
  }
  input,
  input[type="radio"]+label,
  input[type="checkbox"]+label::before,
  select option,
  select {
    padding: 5px 10px;
  }
  select {
    height: 34px;
    line-height: 34px;
  }
  .detailTable input[type="search"] {
    font-size: 13px;
    width: 100%;
    position: relative;
  }
  .detailTable input[type="search"]:focus {
    width: 100%;
  }
  h2,
  .h2 {
    font-size: 21px;
    margin-top: 10px;
  }
  h4,
  .h4 {
    font-size: 16px;
  }
  .registrationForm .input-group .form-control {
    height: 42px;
  }

  .registrationForm .input-group .form-control {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .input-group-icon .input-icon {
    height: 2.9em;
  }
  .registrationForm .input-group-icon .input-icon i {
    height: 2.9em;
  }
  .registrationForm .inputGroupWrap {
    padding-bottom: 10px;
  }

  .registrationForm.loginForm .input-group-icon .input-icon {
    height: 42px;
    line-height: 42px;
  }
  .registrationForm.loginForm .input-group-icon .input-icon i {
    line-height: 42px;
  }
  ng-combo-date-picker {
    height: 34px;
  }
  .actionButtons {
    padding-top: 2px;
  }

  .fileUpload pre {
    height: 38px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  h3,
  .h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  /* .headerDropdown .headerDropdownSelectWrap {
    width: 33.33%;
    float: left;
  } */
  .nav-tabs>li>a {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .contactUpdate label {
    font-size: 13px;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 26px;
  }
  .container .loginForm {
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h2,
  .h2 {
    font-size: 18px;
  }
  h4,
  .h4 {
    font-size: 14px;
    font-weight: 700;
  }

  h5,
  .h5 {
    font-size: 12px;
  }
  .modal-dialog .modal-body .input-group {
    width: 100%;
    float: none;
  }
  .mobileTitle {
    display: inline-block;
  }
  .detailTable .table thead,
  .detailTable .table thead tr,
  .detailTable .table th {
    display: none;
  }
  .detailTable .table,
  .detailTable .table tbody,
  .detailTable .table tr,
  .detailTable .table tr td {
    display: block;
  }
  .detailTable .table-responsive {
    border: 0;
  }
  .detailTable .table {
    border: 1px solid #ddd;
  }
  .detailTable .table tr td {
    border: 0;
  }
  .detailTable .table tr {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    position: relative;
  }

  .detailTable .invoiceTable .table td {
    white-space: normal;
  }

  .detailTable .invoiceTable update-invoice .mobileTitle {
    display: inline-block;
    margin-left: 5px;
    vertical-align: baseline;
  }

  .detailTable .invoiceTable .table td .custName {
    display: inline-block;
    padding-right: 35px;
  }

  .detailTable .invoiceTable .table td .custName i.fa {
    top: -1px;
  }


  .detailTable .invoiceTable .table td .shareButtons {
    display: inline-block;
  }

  .detailTable .invoiceTable .table td.selfVerifyBtnWrap {
    position: absolute;
    right: 0;
    top: 3px;
  }

  .detailTable .invoiceTable .table td.selfVerifyBtnWrap .btn {
    font-size: 13px;
  }

  .detailTable .invoiceTable .table td.correctBtn {
    display: inline-block;
    vertical-align: middle;
    padding-right: 4px;
  }
  .detailTable .invoiceTable .table td.wrongBtn {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
  }


  .shareLinks.navbar-nav {
    margin: 0;
  }
  .shareLinks.navbar-nav .open .dropdown-menu {
    position: absolute;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  }
  .navbar-collapse .userName {
    display: none;
  }
  .navbar-inverse .navbar-collapse {
    float: none;
  }

  .navbar-header {
    float: left;
  }
  .container-fluid>.navbar-header {
    margin-left: 0;
    margin-right: 0;
  }
  h1 {
    font-size: 23px;
  }

  .headerDropdown .headerDropdownSelectWrap label {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    word-break: break-all;
  }

  .fileUpload ng-combo-date-picker,
  .fileUpload input[type="file"] {
    width: 100%;
    max-width: 100%;
  }

  .headerDropdown .headerDropdownSelectWrap {
    width: 100%;
  }
  .fileUpload pre {
    width: 100%;
    max-width: 100%;
  }
}


@media only screen and (max-width: 666px) {
  .contactUpdate .row#s1 {
    margin-bottom: 15px;
  }
  .contactUpdate .row#s1>.form-group.col-xs-4 {
    width: 100%;
  }
  .contactUpdate .row#s1>.form-group.col-xs-4:first-child {
    margin-bottom: 8px;
  }
  .contactUpdate .row#s1>.form-group.col-xs-4 label {
    margin-bottom: 0;
  }
  .headerDropdown .headerDropdownSelectWrap label {
    width: 100%;
    float: none;
  }
  .headerValSettings .headerDropdown .bootstrap-select {
    width: 100%!important;
    float: none;
  }
}

@media only screen and (max-width: 479px) {
  .contactUpdate .nav-tabs>li {
    width: 50%;
  }
}


@media only screen and (max-width: 374px) {
  .actionButtons button:first-child {
    margin: 0 0 10px;
  }
  .actionButtons button {
    width: 100%;
  }
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}