<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>
       Forgot Password
      </h2>
    </div>
    <div class="col-md-12 registrationForm">
      <form name="forgotPasswordForm">
        <div class="inputGroupWrap col-md-6">
          <div class="input-group input-group-icon">
            <input type="email" name="email" class="form-control" ng-model="vm.email" placeholder="Email Address" required>
            <span class="asterisk_input"> </span>
            <div class="input-icon"><i class="fa fa-envelope-o"></i></div>
          </div>
          <div ng-hide="forgotPasswordForm.email.$valid || forgotPasswordForm.email.$pristine" class="alert alert-danger">
            Invalid Email Address
          </div>
        </div>
        <button class="btn btn-primary" ng-disabled="forgotPasswordForm.email.$invalid" ng-click="vm.forgotPassword()">Send Mail</button>
      </form>
    </div>
  </div>
</div>