<div class="container dashboardHeader">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><img src="../../assets/logo-crossverify.png" /></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 registrationForm">
      <div class="jumbotron loginForm registrationForm">
        <h2>
          Forgot Password
         </h2>
        <form name="forgotPasswordForm">
          <div class="inputGroupWrap">
            <div class="input-group input-group-icon">
              <input type="email" name="email" class="form-control" ng-model="vm.email" placeholder="Email Address" required>
              <div class="input-icon"><i class="fa fa-envelope-o"></i></div>
            </div>
            <div ng-hide="forgotPasswordForm.email.$valid || forgotPasswordForm.email.$pristine" class="alert alert-danger">
              Invalid Email Address
            </div>
          </div>
          <button class="btn btn-primary" ng-disabled="forgotPasswordForm.email.$invalid" ng-click="vm.forgotPassword()">Send Mail</button>
        </form>
      </div>
    </div>
  </div>