<header></header>
<div class="container dashboardHeader">
  <div class="row">
    <div class="col-md-12 text-center">
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>
                Add Sale Data
            </h2>
    </div>
    <div class="col-md-12 registrationForm">
      <form name="addUserForm">
        <div class="row">
          <!--  <div class="col-md-12">
            <h4>Company Information</h4>
          </div> -->
          <!-- ***** Invoice Date ***** -->
          <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="invoiceDate" class="form-control" ng-model="vm.invoiceDate" placeholder="Invoice Date">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>
          <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="invoiceNumber" class="form-control" ng-model="vm.invoiceNumber" placeholder="Invoice Number">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

     <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="invoiceCategory" class="form-control" ng-model="vm.invoiceCategory" placeholder="Invoice Category">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="type" class="form-control" ng-model="vm.type" placeholder="Type">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="supplyType" class="form-control" ng-model="vm.supplyType" placeholder="Supply Type">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="customerBillingName" class="form-control" ng-model="vm.customerBillingName" placeholder="Customer Billing Name">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="customerBillingAddress" class="form-control" ng-model="vm.customerBillingAddress" placeholder="Customer Billing Address">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="customerBillingCity" class="form-control" ng-model="vm.customerBillingCity" placeholder="Customer Billing City">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="customerBillingPinCode" class="form-control" ng-model="vm.customerBillingPinCode" placeholder="Customer Billing PinCode">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>
 

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="customerBillingState" class="form-control" ng-model="vm.customerBillingState" placeholder="Customer Billing State">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="customerBillingStateCode" class="form-control" ng-model="vm.customerBillingStateCode" placeholder="Customer Billing StateCode">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="customerBillingGSTIN" class="form-control" ng-model="vm.customerBillingGSTIN" placeholder="Customer Billing GSTIN">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="itemCategory" class="form-control" ng-model="vm.itemCategory" placeholder="Item Category">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>


               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="itemTotalBeforeDiscount" class="form-control" ng-model="vm.itemTotalBeforeDiscount" placeholder="Item Total Before Discount">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="itemDiscount" class="form-control" ng-model="vm.itemDiscount" placeholder="Item Discount">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="nilRatedAmount" class="form-control" ng-model="vm.nilRatedAmount" placeholder="Nil Rated Amount">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>


               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="exemptedAmount" class="form-control" ng-model="vm.exemptedAmount" placeholder="Exempted Amount">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="nonGSTAmount" class="form-control" ng-model="vm.nonGSTAmount" placeholder="Non GST Amount">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="itemTaxableValue" class="form-control" ng-model="vm.itemTaxableValue" placeholder="Item Taxable Value">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               
               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="CGSTRate" class="form-control" ng-model="vm.CGSTRate" placeholder="CGST Rate">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="CGSTAmount" class="form-control" ng-model="vm.CGSTAmount" placeholder="CGST Amount">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="SGSTRate" class="form-control" ng-model="vm.SGSTRate" placeholder="SGST Rate">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="SGSTAmount" class="form-control" ng-model="vm.SGSTAmount" placeholder="SGST Amount">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="IGSTRate" class="form-control" ng-model="vm.IGSTRate" placeholder="IGST Rate">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="IGSTAmount" class="form-control" ng-model="vm.IGSTAmount" placeholder="IGST Amount">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="TCS" class="form-control" ng-model="vm.TCS" placeholder="TCS">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="cessRate" class="form-control" ng-model="vm.cessRate" placeholder="Cess Rate">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

<!-- **************** -->
               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="invoiceNumber" class="form-control" ng-model="vm.invoiceNumber" placeholder="Invoice Number">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="invoiceNumber" class="form-control" ng-model="vm.invoiceNumber" placeholder="Invoice Number">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="invoiceNumber" class="form-control" ng-model="vm.invoiceNumber" placeholder="Invoice Number">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

               <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="invoiceNumber" class="form-control" ng-model="vm.invoiceNumber" placeholder="Invoice Number">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

     <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="invoiceNumber" class="form-control" ng-model="vm.invoiceNumber" placeholder="Invoice Number">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>

     <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="invoiceNumber" class="form-control" ng-model="vm.invoiceNumber" placeholder="Invoice Number">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>


     <div class="inputGroupWrap ">
            <div class="input-group input-group-icon">
              <input type="text" name="invoiceNumber" class="form-control" ng-model="vm.invoiceNumber" placeholder="Invoice Number">
              <div class="input-icon">
                <!-- <i class="fa"></i> -->
              </div>
            </div>
          </div>












<!-- ************ -->
        </div>
        <button class="btn btn-primary" ng-click="vm.addUserSale()">Save</button>
      </form>
    </div>
  </div>
</div>
Invoice_Date Invoice_number 
Invoice_Category_Type 
Supply_Type
<!--  Customer_Billing_Name
  Customer_Billing_Address
   Customer_Billing_City
    Customer_Billing_PinCode
     Customer_Billing_State
      Customer_Billing_StateCode
       Customer_Billing_GSTIN
        Item_Category
         Item_Total_Before_Discount
          Item_Discount
           Nil_Rated_Amount
           Exempted_Amount
            Non_GST_Amount
             Item_Taxable_Value
              CGST_Rate
               CGST_Amount
               SGST_Rate
                SGST_Amount
                IGST_Rate
                 IGST_Amount TCS
                 Cess_Rate -->

                  Cess_Amount
                   Other Charges Roundoff Item_Total_Including_GST Taxable Value on which TCS has been deducted Mobile_number Email_address