<a class="" ng-click="openAddPopup()"><b>Edit</b></a>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <form name="updateUserForm">
        <div class="modal-body">
          <div class="row">
            <div class="input-group">
              <label>
                Owner Name</label>
              <input type="text" name="ownerName" class="form-control" ng-model="details.ownerName" placeholder="owner Name" required>
              <div ng-hide="updateUserForm.ownerName.$valid || updateUserForm.ownerName.$pristine" class="alert alert-danger">
                Owner Name is Require
              </div>
            </div>
            <div class="input-group">
              <label>
                States</label>
              <select name="state" class="form-control" ng-model="details.state">
                <option ng-repeat="state in states">{{state}}</option>
              </select>
            </div>
            <div class="input-group">
              <label>
                City</label>
              <input type="text" name="city" class="form-control" ng-model="details.city" placeholder="City Name" required>
              <div ng-hide="updateUserForm.city.$valid || updateUserForm.city.$pristine" class="alert alert-danger">
                City Name is Require
              </div>
            </div>
            <div class="input-group">
              <label>
                Pin Code</label>
              <input type="number" name="pincode" class="form-control no-spin" ng-model="details.pincode" placeholder="Pincode" maxlength="6" minlength="6" required>
              <div ng-hide="updateUserForm.pincode.$valid || updateUserForm.pincode.$pristine" class="alert alert-danger">
                Invalid Pincode
              </div>
            </div>
            <div class="input-group">
              <label>
                Address</label>
              <input type="text" name="address" class="form-control" ng-model="details.address" placeholder="Address" required>
              <div ng-hide="updateUserForm.address.$valid || updateUserForm.address.$pristine" class="alert alert-danger">
                Address is Require
              </div>
            </div>
            <div class="input-group">
              <label>
                Mobile1</label>
              <input type="number" name="mobile1" class="form-control no-spin" ng-model="details.mobile1" placeholder="Mobile Number" maxlength="10" minlength="10" required>
              <div ng-hide="updateUserForm.mobile1.$valid || updateUserForm.mobile1.$pristine" class="alert alert-danger">
                Invalid Mobile Number
              </div>
            </div>
            <div class="input-group">
              <label>Mobile2</label>
              <input type="number" name="mobile2" maxlength="10" minlength="10" class="form-control no-spin" ng-model="details.mobile2" placeholder="Alternate Mobile Number">
              <div ng-hide="updateUserForm.mobile2.$valid || updateUserForm.mobile2.$pristine" class="alert alert-danger">
                Invalid Mobile Number
              </div>
            </div>
            <div class="input-group">
              <label>Landline No</label>
              <input type="number" name="landline" class="form-control no-spin" ng-model="details.landline" placeholder="Landline Number">
            </div>
            <div class="col-md-12">
              <label>Document</label>
              <input type="file" class="filestyle" id="file" ngf-select ng-model="details.file" name="file" accept=".xlsx,.xls" ngf-max-size="2MB" ngf-model-invalid="errorFile">
              <div class="alert alert-danger" ng-show="updateUserForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2MB
              </div>
              <br>
              <div>
                </i>
                <button type="button" class="btn btn-danger" ng-click="details.file=null" ng-if="details.file"><i class="fa fa-times" aria-hidden="true"></i> Remove
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="send()" ng-disabled="updateUserForm.ownerName.$invalid || updateUserForm.city.$invalid || updateUserForm.pincode.$invalid || updateUserForm.address.$invalid || updateUserForm.mobile1.$invalid || updateUserForm.mobile2.$invalid">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
          </div>
      </form>
      </div>
    </div>
  </div>