<header></header>
<div class="container dashboardHeader">
  <div class="row">
    <div class="col-md-12 text-center">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <b style="font-size: 17px">Profile</b><span class="pull-right">
      <popup-info data="vm.user" on-update="finalvalues(details)"></popup-info>
      </span>
  </div>
  <div class="row">
    <fieldset class="profile">
      <div class="col-md-12 registrationForm registrationFormDisplay">
        <div class="row">
          <div class="col-md-12">
            <h4>Company Information</h4>
          </div>
          <br/>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>Company Name</label>
              <br>
              <span>{{vm.user.companyName}}</span>
            </div>
          </div>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>State</label>
              <br>
              <span>{{vm.user.state}}</span>
            </div>
          </div>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>City</label>
              <br>
              <span>{{vm.user.city}}</span>
            </div>
          </div>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>Pincode</label>
              <br>
              <span>{{vm.user.pincode}}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Personal Information</h4>
          </div>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>Owner Name</label>
              <br>
              <span>{{vm.user.ownerName}}</span>
            </div>
          </div>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>Address</label>
              <br>
              <span>{{vm.user.address}}</span>
            </div>
          </div>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>Mobile 1</label>
              <br>
              <span>{{vm.user.mobile1}}</span>
            </div>
          </div>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>Mobile 2</label>
              <br>
              <span ng-if="vm.user.mobile2">{{vm.user.mobile2}}</span>
              <span ng-if="!vm.user.mobile2">-</span>
            </div>
          </div>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>Landline</label>
              <br>
              <span ng-if="vm.user.landline">{{vm.user.landline}}</span>
              <span ng-if="!vm.user.landline">-</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>KYC Information</h4>
          </div>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>Pan Number</label>
              <br>
              <span>{{vm.user.panNo}}</span>
            </div>
          </div>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>GST Number</label>
              <br>
              <span>{{vm.user.GSTNo}}</span>
            </div>
          </div>
          <div class="inputGroupWrap col-sm-3">
            <div class="input-group input-group-icon">
              <label>Email Id</label>
              <br>
              <span>{{vm.user.email}}</span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <br>
    <fieldset class="profile">
      <div class="col-md-12 registrationForm registrationFormDisplay">
        <div class="row">
          <div class="col-md-12">
            <h4>File Uploads</h4>
          </div>
          <br/>
          <div class="inputGroupWrap col-sm-4">
            <label>Date</label>
            <br>
            <ng-combo-date-picker ng-model="vm.dateOfFile" ng-min-date="2017-07-01" ng-attrs-date='{"class": "col-md-4"}' ng-attrs-month='{"class": "col-md-4"}' ng-attrs-year='{"class": "col-md-4"}'></ng-combo-date-picker>
          </div>
          <div class="inputGroupWrap col-sm-4">
            <label>Sale File</label>
            <input type="file" class="filestyle" id="saleFile" ngf-select ng-model="vm.saleFile" name="saleFile" accept=".xlsx,.xls" ngf-max-size="2MB" ngf-model-invalid="errorFile">
            <div class="alert alert-danger" ng-show="updateUserForm.saleFile.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2MB
            </div>
            <br>
            <div>
              </i>
              <!--   <button type="button" class="btn btn-danger" ng-click="vm.saleFile=null" ng-if="vm.saleFile"><i class="fa fa-times" aria-hidden="true"></i> Remove
            </button> -->
            </div>
          </div>
          <div class="inputGroupWrap col-sm-4">
            <label>Purchase File</label>
            <input type="file" class="filestyle" id="purchaseFile" ngf-select ng-model="vm.purchaseFile" name="purchaseFile" accept=".xlsx,.xls" ngf-max-size="2MB" ngf-model-invalid="errorFile">
            <div class="alert alert-danger" ng-show="updateUserForm.purchaseFile.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2MB
            </div>
            <br>
            <div>
              </i>
              <!-- <button type="button" class="btn btn-danger" ng-click="vm.purchaseFile=null" ng-if="vm.purchaseFile"><i class="fa fa-times" aria-hidden="true"></i> Remove
</button> -->
            </div>
          </div>
        </div>
        <input type="button" class="btn btn-primary" value="Upload File" ng-click="vm.uploadFiles()">
    </fieldset>
    </div>
  </div>