<div class="container dashboardHeader">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><img src="../../assets/logo-crossverify.png" /></h1>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <a href="/#/login" class="btn btn-primary pull-right">Login</a>
    <div class="col-md-12">
      <h2>
                Client Registration
      </h2>
    </div>
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">
          <div class="row  registrationForm">
            <div class="col-sm-6 col-sm-offset-3 form-box">
              <form role="form" name="addClientForm" class="registration-form">
                <!-- =======================PAGE 1============================ -->
                <fieldset>
                  <div class="form-top">
                    <div class="form-top-left">
                      <h3>Step 1 / 4</h3>
                      <p>Authentication Details:</p>
                    </div>
                    <div class="form-top-right">
                      <i class="fa fa-key"></i>
                    </div>
                  </div>
                  <div class="form-bottom">
                    <!-- ***** EMAIL ***** -->
                    <div class="form-group">
                      <div class="form-group inputGroupWrap input-group input-group-icon">
                        <input type="email" id="email" name="email" class="form-control" ng-model="vm.email" placeholder="Email Address" required>
                        <span class="asterisk_input"> </span>
                        <div class="input-icon"><i class="fa fa-envelope-o"></i></div>
                      </div>
                      <div ng-hide="addClientForm.email.$valid || addClientForm.email.$pristine" class="alert alert-danger">
                        Invalid Email Address
                      </div>
                    </div>
                    <!-- ******* PAN NUMBER ******** -->
                    <div class="form-group">
                      <div class="input-group inputGroupWrap input-group-icon">
                        <input type="text" id="panNo" name="panNo" class="form-control toUpper" ng-model="vm.panNo" placeholder="Pan Number" maxlength="10" minlength="10" required>
                        <span class="asterisk_input"> </span>
                        <div class="input-icon"><i class="fa fa-id-card"></i></div>
                      </div>
                      <div ng-hide="addClientForm.panNo.$valid || addClientForm.panNo.$pristine" class="alert alert-danger">
                        Invalid Pan Number
                      </div>
                    </div>
                    <!-- ***** GST ***** -->
                    <div class="form-group">
                      <div class="form-group inputGroupWrap input-group input-group-icon">
                        <input type="text" id="GSTNo" name="GSTNo" class="form-control toUpper" ng-model="vm.GSTNo" data-isGstConflict={{vm.gstConflict}} placeholder="GST Number" minlength="15" maxlength="15" ng-change="vm.getGSTStatus()" required>
                        <span class="asterisk_input"> </span>
                        <div class="input-icon"><i class="fa fa-id-card-o"></i></div>
                      </div>
                      <div ng-hide="addClientForm.GSTNo.$valid || addClientForm.GSTNo.$pristine || vm.gstConflict" class="alert alert-danger">
                        Invalid GST Number
                      </div>
                    </div>
                    <!-- ***** PASSWORD ***** -->
                    <div>
                      To Register as a user
                      <a href="" id="togglePassword" ng-click="vm.clearPassword()" class="togglePassword"> Click here</a>
                    </div>
                    <br>
                    <div id="ifPassword">
                      <div class="form-group">
                        <div class="input-group input-group-icon">
                          <input type="password" id="password" name="password" class="form-control" ng-model="vm.password" placeholder=" Password" minlength="8" autocomplete="off">
                          <div class="input-icon"><i class="fa fa-key"></i></div>
                        </div>
                        <div ng-hide="addClientForm.password.$valid" class="alert alert-danger">
                          Password should have minimum 8 characters
                        </div>
                      </div>
                      <!-- - ***** CONFIRM PASSWORD ***** -->
                      <div class="form-group">
                        <div class="input-group input-group-icon">
                          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" ng-model="vm.confirmPassword" placeholder="Confirm Password" autocomplete="off">
                          <div class="input-icon"><i class="fa fa-key"></i></div>
                        </div>
                        <div ng-hide="addClientForm.confirmPassword.$valid" class="alert alert-danger">
                          Invalid Confirm Password
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" ng-click="vm.checkPassword();vm.fetchRecord()" class="btn btn-next btn-primary">Next</button>
                </fieldset>
                <!-- =======================PAGE 2============================ -->
                <fieldset>
                  <div class="form-top">
                    <div class="form-top-left">
                      <h3>Step 2 / 4</h3>
                      <p>Company Information:</p>
                    </div>
                    <div class="form-top-right">
                      <i class="fa fa-building-o"></i>
                    </div>
                  </div>
                  <div class="form-bottom">
                    <!-- *******COMPANY NAME******** -->
                    <div class="form-group">
                      <div class="input-group input-group-icon">
                        <input type="text" id="companyName" name="companyName" class="form-control" ng-model="vm.companyName" placeholder="Company Name" required>
                        <span class="asterisk_input"> </span>
                        <div class="input-icon"><i class="fa fa-briefcase"></i></div>
                      </div>
                      <div ng-hide="addClientForm.companyName.$valid || addClientForm.companyName.$pristine" class="alert alert-danger">
                        Company Name is Required
                      </div>
                    </div>
                    <!-- ******STATE********* -->
                    <div class="form-group">
                      <div class="input-group input-group-icon">
                        <select name="state" id="state" class="form-control" ng-model="vm.state" required="">
                          <option disabled="" value="">Please select State</option>
                          <option ng-repeat="state in vm.states">{{state}}</option>
                        </select>
                        <span class="asterisk_input"> </span>
                        <div class="input-icon"><i class="fa fa-location-arrow"></i></div>
                      </div>
                      <div ng-hide="addClientForm.state.$valid || addClientForm.state.$pristine" class="alert alert-danger">
                        State Name is Required
                      </div>
                    </div>
                    <!-- ******CITY********* -->
                    <div class="form-group">
                      <div class="input-group input-group-icon">
                        <input type="text" id="city" name="city" class="form-control" ng-model="vm.city" placeholder="City Name" required>
                        <span class="asterisk_input"> </span>
                        <div class="input-icon"><i class="fa fa-map-marker"></i></div>
                      </div>
                      <div ng-hide="addClientForm.city.$valid || addClientForm.city.$pristine" class="alert alert-danger">
                        City Name is Required
                      </div>
                    </div>
                    <!-- *******PINCODE******** -->
                    <div class="form-group">
                      <div class="input-group input-group-icon">
                        <input type="text" id="pincode" name="pincode" class="form-control" ng-model="vm.pincode" placeholder="Pincode" maxlength="6" minlength="6" required>
                        <span class="asterisk_input"> </span>
                        <div class="input-icon"><i class="fa fa-thumb-tack"></i></div>
                      </div>
                      <div ng-hide="addClientForm.pincode.$valid || addClientForm.pincode.$pristine" class="alert alert-danger">
                        Invalid Pincode
                      </div>
                    </div>
                    <button type="button" class="btn btn-previous btn-primary">Previous</button>
                    <button type="button" class="btn btn-next btn-primary">Next</button>
                  </div>
                </fieldset>
                <!-- =======================PAGE 3============================ -->
                <fieldset>
                  <div class="form-top">
                    <div class="form-top-left">
                      <h3>Step 3 / 4</h3>
                      <p>Personal Information:</p>
                    </div>
                    <div class="form-top-right">
                      <i class="fa fa-user"></i>
                    </div>
                  </div>
                  <div class="form-bottom">
                    <!-- ******* OWNER NAME ******** -->
                    <div class="form-group">
                      <div class="form-group input-group input-group-icon">
                        <input type="text" id="ownerName" name="ownerName" class="form-control" ng-model="vm.ownerName" placeholder="Owner Name" required>
                        <span class="asterisk_input"> </span>
                        <div class="input-icon"><i class="fa fa-user"></i></div>
                      </div>
                      <div ng-hide="addClientForm.ownerName.$valid || addClientForm.ownerName.$pristine" class="alert alert-danger">
                        Owner Name is Required
                      </div>
                    </div>
                    <!-- ******* ADDRESS ******** -->
                    <div class="form-group">
                      <div class="form-group input-group input-group-icon">
                        <input type="text" id="address" name="address" class="form-control" ng-model="vm.address" placeholder="Address" required>
                        <span class="asterisk_input"> </span>
                        <div class="input-icon"><i class="fa fa-address-card"></i></div>
                      </div>
                      <div ng-hide="addClientForm.address.$valid || addClientForm.address.$pristine" class="alert alert-danger">
                        Address is Required
                      </div>
                    </div>
                    <!-- ******* MOBILE 1 ******** -->
                    <div class="form-group">
                      <div class="form-group input-group input-group-icon">
                        <input type="text" id="mobile1" name="mobile1" class="form-control" ng-model="vm.mobile1" placeholder="Mobile Number" maxlength="10" minlength="10" required>
                        <span class="asterisk_input"> </span>
                        <div class="input-icon"><i class="fa fa-mobile"></i></div>
                      </div>
                      <div ng-hide="addClientForm.mobile1.$valid || addClientForm.mobile1.$pristine" class="alert alert-danger">
                        Invalid Mobile Number
                      </div>
                    </div>
                    <!-- ******* MOBILE 2 ******** -->
                    <div class="form-group">
                      <div class="form-group input-group input-group-icon">
                        <input type="text" id="mobile2" name="mobile2" class="form-control" ng-model="vm.mobile2" placeholder="Alternate Mobile Number" maxlength="10" minlength="10">
                        <div class="input-icon"><i class="fa fa-mobile"></i></div>
                      </div>
                    </div>
                    <!-- ******* LANDLINE ******** -->
                    <div class="form-group">
                      <div class="form-group input-group input-group-icon">
                        <input type="number" id="landline" name="landline" class="form-control no-spin" ng-model="vm.landline" placeholder="Landline Number">
                        <div class="input-icon"><i class="fa fa-phone"></i></div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-previous btn-primary">Previous</button>
                    <button type="button" class="btn btn-next btn-primary">Next</button>
                  </div>
                </fieldset>
                <!-- =======================PAGE 4============================ -->
                <fieldset>
                  <div class="form-top">
                    <div class="form-top-left">
                      <h3>Step 4 / 4</h3>
                      <p>Require Documents:</p>
                    </div>
                    <div class="form-top-right">
                      <i class="fa fa-file-excel-o"></i>
                    </div>
                  </div>
                  <div class="form-bottom">
                    <!-- ******* UPLOAD FILE  ******** -->
                    <div class="form-group">
                      <label> Purchase File </label>
                      <input type="file" class="filestyle" id="purchaseFile" ngf-select ng-model="vm.purchaseFile" name="purchaseFile" accept=".xlsx,.xls" ngf-max-size="2MB" ngf-model-invalid="errorFile">
                      <div class="alert alert-danger" ng-show="addUserForm.purchaseFile.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2MB
                      </div>
                      <br>
                      <!-- <div> <i class="fa fa-file-excel-o">
                        </i>
                        <button type="button" class="btn btn-danger" ng-click="vm.purchaseFile=null" ng-if="vm.purchaseFile"><i class="fa fa-times" aria-hidden="true"></i> Remove
                        </button>
                      </div> -->
                      <div class="form-group" ng-if="vm.password">
                        <label>Sales File</label>
                        <input type="file" class="filestyle" id="salesFile" ngf-select ng-model="vm.salesFile" name="salesFile" accept=".xlsx,.xls" ngf-max-size="2MB" ngf-model-invalid="errorFile">
                        <div class="alert alert-danger" ng-show="addUserForm.salesFile.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2MB
                        </div>
                        <br>
                        <!-- <div> <i class="fa fa-file-excel-o">
                          </i>
                          <button type="button" class="btn btn-danger" ng-click="vm.salesFile=null" ng-if="vm.salesFile"><i class="fa fa-times" aria-hidden="true"></i> Remove
                          </button>
                      </div> -->
                      </div>
                      <button type="button" class="btn btn-previous btn-primary">Previous</button>
                      <button type="submit" class="btn btn-primary" ng-click="vm.addClient()">Sign me up!</button>
                </fieldset>
              </form>
              </div>
              </div>
            </div>
          </div>
        </div>