<header></header>
<div class="container">
  <div class="row">
    <!--     <div class="col-md-12">
    </div> -->
    <div class="col-md-12 registrationForm">
      <div class="jumbotron loginForm registrationForm">
        <form name="addUserForm">
          <h2>
              Change Password
           </h2>
          <div class="inputGroupWrap">
            <div class="input-group input-group-icon">
              <input type="password" name="oldPassword" class="form-control" ng-model="vm.oldPassword" placeholder="Old Password" minlength="8" required autocomplete="off">
              <span class="asterisk_input"> </span>
              <div class="input-icon"><i class="fa fa-key"></i></div>
            </div>
            <div ng-hide="addUserForm.oldPassword.$valid || addUserForm.oldPassword.$pristine" class="alert alert-danger">
              Password should have minimum 8 characters
            </div>
          </div>
          <div class="inputGroupWrap">
            <div class="input-group input-group-icon">
              <input type="password" name="newPassword" class="form-control" ng-model="vm.newPassword" placeholder="New Password" minlength="8" required autocomplete="off">
              <span class="asterisk_input"> </span>
              <div class="input-icon"><i class="fa fa-key"></i></div>
            </div>
            <div ng-hide="addUserForm.newPassword.$valid || addUserForm.newPassword.$pristine" class="alert alert-danger">
              Password should have minimum 8 characters
            </div>
          </div>
          <div class="inputGroupWrap">
            <div class="input-group input-group-icon">
              <input type="password" name="confirmPassword" class="form-control" ng-model="vm.confirmPassword" placeholder="Confirm Password" minlength="8" required autocomplete="off">
              <span class="asterisk_input"> </span>
              <div class="input-icon"><i class="fa fa-key"></i></div>
            </div>
          </div>
          <button class="btn btn-primary" ng-disabled="addUserForm.oldPassword.$invalid || addUserForm.newPassword.$invalid || addUserForm.confirmPassword.$invalid" ng-click="vm.changePassword()">
            Update</button>
        </form>
      </div>
    </div>
  </div>
</div>