<header></header>
<div class="container-fluid dashboardHeader">
  <div class="row">
    <div class="col-md-12">
      <h2 class="welcomeMessage">
        Welcome, {{vm.companyName}}
        <span>GSTIN No. {{vm.currentUserGSTIN}}</span>
      </h2>
      <h1 class="text-center">Invoice Details</h1>
    </div>
  </div>
</div>
<div class="container-fluid detailTable">
  <div class="row datePickerWrap">
    <div class="col-xs-7">
      <ng-combo-date-picker ng-model="vm.filterByMonth" ng-change="vm.getInvoicesByMonth()" ng-min-date="2017-07-01" ng-attrs-date='{"class": "col-md-1 hidden"}'></ng-combo-date-picker>
    </div>
    <div class="col-xs-5 actionButtons text-right">
      <button id="import" class="btn btn-default" ng-click="vm.redirectToImportPage()">
        <i class="fa fa-upload" aria-hidden="true"></i> import
      </button>
    </div>
  </div>
  <div class="row tabWrap">
    <div class="col-md-12">
      <uib-tabset active="activeJustified">
        <uib-tab index="0" heading="Sales Invoice">
          <div class="invoiceSummaryWrap">
            <div class="invoiceSummary salesInvoiceSummary row">
              <div class="col-md-3">
                <div class="invoiceSummaryCell invoiceSummaryCellTotal">
                  <div class="invoiceSummaryTitle">
                    Total Sale Invoice
                  </div>
                  <div class="invoiceSummaryValue">
                    {{vm.totalSaleInvoice}}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="invoiceSummaryCell invoiceSummaryCellVerified">
                  <div class="invoiceSummaryTitle">
                    Verified
                  </div>
                  <div class="invoiceSummaryValue">
                    {{vm.verifiedSale}}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="invoiceSummaryCell invoiceSummaryCellNotVerified">
                  <div class="invoiceSummaryTitle">
                    Not Verified
                  </div>
                  <div class="invoiceSummaryValue">
                    {{vm.notVerifiedSale}}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="invoiceSummaryCell invoiceSummaryCellMismatched">
                  <div class="invoiceSummaryTitle">
                    Mismatched
                  </div>
                  <div class="invoiceSummaryValue">
                    {{vm.mismatchedSale}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="search-group">
            <input type="search" class="form-control" ng-model="vm.saleSearchText" placeholder="Search by Customer Billing Name or GST number" type="search" ng-change="vm.searchSaleGrid()" />
            <div class="search-icon"><i class=" fa fa-search"></i></div>
          </div>
          <div class="invoiceTable">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr class="info">
                    <th class="active"></th>
                    <th class="active">Invoice No</th>
                    <th class="active">Date</th>
                    <th class="active">Customer</th>
                    <th class="active">State</th>
                    <th class="active">Invoice Type</th>
                    <th class="active">Goods / Services</th>
                    <th class="active">GSTIN</th>
                    <th class="active">Total Invoice Value</th>
                    <th class="active">Share Link</th>
                    <th class="active">Self Verify</th>
                  </tr>
                </thead>
                <tbody ng-if="vm.saleInvoiceData.length > 0">
                  <tr ng-repeat="saleFile in vm.saleInvoiceData" ng-class="saleFile.status" id="saleFileData">
                    <td>
                      <update-invoice title="Update Invoice" data="saleFile" on-update="finalvalues(details)"></update-invoice>
                      <!--   <i id="plus-button" class="fa fa-plus-circle" aria-hidden="true" ng-click="vm.showMoreSaleDetail(saleFile)"></i> -->
                    </td>
                    <td><span class="mobileTitle">Invoice No</span> {{saleFile.Invoice_Number}} </td>
                    <td><span class="mobileTitle">Date</span> {{saleFile.Invoice_Date}} </td>
                    <td><span class="mobileTitle">Customer</span>
                      <div class="custName">
                        {{saleFile.Customer_Billing_Name }}
                        <i title="Edit Client Detail" class="fa fa-pencil-square-o" id="saleEdit" aria-hidden="true" ng-click="vm.editCustomer(saleFile._id,$event)"></i>
                      </div>
                    </td>
                    <td><span class="mobileTitle">State</span> {{saleFile.Customer_Billing_State }} </td>
                    <td><span class="mobileTitle">Invoice_Type</span> {{saleFile.Invoice_Category }} </td>
                    <td><span class="mobileTitle">Goods/Services</span>
                    </td>
                    <td><span class="mobileTitle">GSTIN</span> {{saleFile.Customer_Billing_GSTIN }} </td>
                    <td><span class="mobileTitle">Total_Invoice_Value</span> {{saleFile.Item_Total_Including_GST }} </td>
                    <td><span class="mobileTitle">Share Link</span>
                      <div class="shareButtons">
                        <button class="btn btn-primary" id="saleEmail" ng-disabled="!saleFile.Customer_Billing_GSTIN || !saleFile.Email_Address" ng-click="vm.sendMonthlyEmail(saleFile.Customer_Billing_GSTIN,saleFile.Invoice_Number,$event,saleFile.Email_Address)">
                          <i class="fa fa-envelope-o"></i> Via Email
                        </button>
                        <button class="btn btn-primary" id="saleSMS" ng-disabled="!saleFile.Customer_Billing_GSTIN || !saleFile.Mobile_Number" ng-click="vm.sendMonthlySMS(saleFile.Customer_Billing_GSTIN,saleFile.Invoice_Number,saleFile.Mobile_Number,$event)">
                          <i class="fa fa-mobile"></i> Via SMS
                        </button>
                      </div>
                    </td>
                    <td class="selfVerifyBtnWrap">
                      <input type="button" id="saleSelfVerify" class="btn btn-primary" value="Self Verify" ng-show="saleFile.status!='verified'" ng-click="vm.selfVerify(saleFile._id,$event)">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="noDataMessage" ng-if="vm.saleInvoiceData.length < 1">
                No data Found
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="Purchase Invoice">
          <div class="invoiceSummaryWrap">
            <div class="invoiceSummary row">
              <div class="col-md-3">
                <div class="invoiceSummaryCell invoiceSummaryCellTotal">
                  <div class="invoiceSummaryTitle">
                    Total Purchase Invoice
                  </div>
                  <div class="invoiceSummaryValue">
                    {{vm.totalPurchaseInvoice}}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="invoiceSummaryCell invoiceSummaryCellVerified">
                  <div class="invoiceSummaryTitle">
                    Verified
                  </div>
                  <div class="invoiceSummaryValue">
                    {{vm.verifiedPurchase}}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="invoiceSummaryCell invoiceSummaryCellNotVerified">
                  <div class="invoiceSummaryTitle">
                    Not Verified
                  </div>
                  <div class="invoiceSummaryValue">
                    {{vm.notVerifiedPurchase}}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="invoiceSummaryCell invoiceSummaryCellMismatched">
                  <div class="invoiceSummaryTitle">
                    Mismatched
                  </div>
                  <div class="invoiceSummaryValue">
                    {{vm.mismatchedPurchase}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="search-group">
            <input type="search" class="form-control" ng-model="vm.purchaseSearchText" placeholder="Search by Company name or GST number" type="search" ng-change="vm.searchPurchaseGrid()" />
            <div class="search-icon"><i class=" fa fa-search"></i></div>
          </div>
          <div class="invoiceTable">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr class="info">
                    <th class="active"></th>
                    <th class="active">Invoice No</th>
                    <th class="active">Date</th>
                    <th class="active">Customer</th>
                    <th class="active">State</th>
                    <th class="active">Invoice Type</th>
                    <th class="active">Goods / Services</th>
                    <th class="active">GSTIN</th>
                    <th class="active">Total Invoice Value</th>
                    <th class="active">Share Link</th>
                    <th class="active">Correct</th>
                    <th class="active">Wrong</th>
                    <th class="active">Self Verify</th>
                  </tr>
                </thead>
                <tbody ng-if="vm.purchaseInvoiceData.length > 0">
                  <tr ng-repeat="purchaseFile in  vm.purchaseInvoiceData" ng-class="purchaseFile.status" id="purchaseFileData">
                    <td>
                      <update-invoice title="Update Invoice" data="purchaseFile" on-update="finalvalues(details)"></update-invoice>
                    </td>
                    <td><span class="mobileTitle">Invoice No</span> {{purchaseFile.Invoice_Number}} </td>
                    <td><span class="mobileTitle">Date</span> {{purchaseFile.Invoice_Date}} </td>
                    <td><span class="mobileTitle">Customer</span>
                      <div class="custName">
                        {{purchaseFile.Supplier_Name}}
                        <i title="Edit Client Detail" class="fa fa-pencil-square-o" id="purchaseEdit" aria-hidden="true" ng-click="vm.editCustomer(purchaseFile._id,$event)"></i>
                      </div>
                    </td>
                    <td><span class="mobileTitle">State</span> {{purchaseFile.Supplier_State }} </td>
                    <td><span class="mobileTitle">Invoice_Type</span> {{purchaseFile.Invoice_Category }} </td>
                    <td><span class="mobileTitle">Goods/Services</span> {{purchaseFile.email }} </td>
                    <td><span class="mobileTitle">GSTIN</span> {{purchaseFile.Supplier_GSTIN }} </td>
                    <td><span class="mobileTitle">Total_Invoice_Value</span> {{purchaseFile.Item_Total_Including_GST }} </td>
                    <td><span class="mobileTitle">Share Link</span>
                      <div class="shareButtons">
                        <button class="btn btn-primary" id="purchaseEmail" ng-disabled="!purchaseFile.Supplier_GSTIN || !purchaseFile.Email_Address" ng-click="vm.sendMonthlyEmail(purchaseFile.Supplier_GSTIN,purchaseFile.Invoice_Number,$event,purchaseFile.Email_Address)">
                          <i class="fa fa-envelope-o"></i> Via Email
                        </button>
                        <button class="btn btn-primary" id="purchaseSMS" ng-disabled="!purchaseFile.Supplier_GSTIN || !purchaseFile.Mobile_Number" ng-click="vm.sendMonthlySMS(purchaseFile.Supplier_GSTIN,purchaseFile.Invoice_Number,purchaseFile.Mobile_Number,$event)">
                          <i class="fa fa-mobile"></i> Via SMS
                        </button>
                      </div>
                    </td>
                    <td class="correctBtn">
                      <input type="button" id="correct" ng-disabled="!purchaseFile.Supplier_GSTIN" class="btn btn-success" value="Correct" ng-show="purchaseFile.status!='verified'" ng-click="vm.correct(purchaseFile.Invoice_Number,purchaseFile.Supplier_GSTIN,$event)">
                    </td>
                    <td class="wrongBtn">
                      <input type="button" id="wrong" ng-disabled="!purchaseFile.Supplier_GSTIN" class="btn btn-danger" value="Wrong" ng-show="purchaseFile.status!='verified'" ng-click="vm.correct(purchaseFile.Invoice_Number,purchaseFile.Supplier_GSTIN,$event)">
                    </td>
                    <td class="selfVerifyBtnWrap">
                      <input type="button" id="purchaseSelfVerify" class="btn btn-primary" value="Self Verify" ng-show="purchaseFile.status!='verified'" ng-click="vm.selfVerify(purchaseFile._id,$event)">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="noDataMessage" ng-if="vm.purchaseInvoiceData.length < 1">
                No data Found
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>