<i id="plus-button" class="fa fa-plus-circle" aria-hidden="true" ng-click="openAddPopup()"></i>
<div class="modal fade" id="{{modelId}}" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Invoice</h4>
      </div>
      <form name="updateInvoiceForm">
        <div class="modal-body">
          <div class="row">
            <div class="input-group">
              <label>Invoice Number</label>
              <input type="text" name="Invoice_Number" class="form-control" ng-model="details.Invoice_Number" ng-class="{highlightPopupFormFields:details.Invoice_Number}">
            </div>
            <div class="input-group">
              <label>Invoice Date</label>
              <input type="text" name="Invoice_Date" class="form-control" ng-model="details.Invoice_Date" ng-class="{highlightPopupFormFields:details.Invoice_Date}">
            </div>
            <div class="input-group">
              <label>Item Taxable Value</label>
              <input type="text" name="Item_Taxable_Value" class="form-control" ng-model="details.Item_Taxable_Value" ng-class="{highlightPopupFormFields:details.Item_Taxable_Value}">
            </div>
            <div class="input-group">
              <label>CGST Rate</label>
              <input type="text" name="CGST_Rate" class="form-control" ng-model="details.CGST_Rate" ng-class="{highlightPopupFormFields:details.CGST_Rate}">
            </div>
            <div class="input-group">
              <label>CGST Amount</label>
              <input type="text" name="CGST_Amount" class="form-control" ng-model="details.CGST_Amount" ng-class="{highlightPopupFormFields:details.CGST_Amount}">
            </div>
            <div class="input-group">
              <label>SGST Rate</label>
              <input type="text" name="SGST_Rate" class="form-control" ng-model="details.SGST_Rate" ng-class="{highlightPopupFormFields:details.SGST_Rate}">
            </div>
            <div class="input-group">
              <label>SGST Amount</label>
              <input type="text" name="SGST_Amount" class="form-control" ng-model="details.SGST_Amount" ng-class="{highlightPopupFormFields:details.SGST_Amount}">
            </div>
            <div class="input-group">
              <label>IGST Rate</label>
              <input type="text" name="IGST_Rate" class="form-control" ng-model="details.IGST_Rate" ng-class="{highlightPopupFormFields:details.IGST_Rate}">
            </div>
            <div class="input-group">
              <label>IGST Amount</label>
              <input type="text" name="IGST_Amount" class="form-control" ng-model="details.IGST_Amount" ng-class="{highlightPopupFormFields:details.IGST_Amount}">
            </div>
            <div class="input-group">
              <label>TCS</label>
              <input type="text" name="TCS" class="form-control" ng-model="details.TCS" ng-class="{highlightPopupFormFields:details.TCS}">
            </div>
            <div class="input-group">
              <label>Cess Rate</label>
              <input type="text" name="Cess_Rate" class="form-control" ng-model="details.Cess_Rate" ng-class="{highlightPopupFormFields:details.Cess_Rate}">
            </div>
            <div class="input-group">
              <label>Cess Amount</label>
              <input type="text" name="Cess_Amount" class="form-control" ng-model="details.Cess_Amount" ng-class="{highlightPopupFormFields:details.Cess_Amount}">
            </div>
            <div class="input-group">
              <label>Other Charges</label>
              <input type="text" name="Other_Charges" class="form-control" ng-model="details.Other_Charges" ng-class="{highlightPopupFormFields:details.Other_Charges}">
            </div>
            <div class="input-group">
              <label>Roundoff</label>
              <input type="text" name="Roundoff" class="form-control" ng-model="details.Roundoff" ng-class="{highlightPopupFormFields:details.Roundoff}">
            </div>
            <div class="input-group">
              <label>Item Total Including GST</label>
              <input type="text" name="Item_Total_Including_GST" class="form-control" ng-model="details.Item_Total_Including_GST" ng-class="{highlightPopupFormFields:details.Item_Total_Including_GST}">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="send()">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
          </div>
      </form>
      </div>
    </div>
  </div>
  </form>
</div>
</div>
</div>