<i id="plus-button" class="fa fa-plus-circle" aria-hidden="true" ng-click="openAddPopup()"></i>
<div class="modal fade" id="{{modelId}}" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Invoice</h4>
      </div>
      <form name="updateInvoiceForm">
        <div class="modal-body">
          <div class="row">
            <div class="input-group">
              <label>Item_Taxable_Value</label>
              <input type="text" name="Item_Taxable_Value" class="form-control" ng-model="details.Item_Taxable_Value" placeholder="Item_Taxable_Value">
            </div>
            <div class="input-group">
              <label>CGST_Rate</label>
              <input type="text" name="CGST_Rate" class="form-control" ng-model="details.CGST_Rate" placeholder="CGST_Rate">
            </div>
            <div class="input-group">
              <label>CGST_Amount</label>
              <input type="text" name="CGST_Amount" class="form-control" ng-model="details.CGST_Amount" placeholder="CGST_Amount">
            </div>
            <div class="input-group">
              <label>SGST_Rate</label>
              <input type="text" name="SGST_Rate" class="form-control" ng-model="details.SGST_Rate" placeholder="SGST_Rate">
            </div>
            <div class="input-group">
              <label>SGST_Amount</label>
              <input type="text" name="SGST_Amount" class="form-control" ng-model="details.SGST_Amount" placeholder="SGST_Amount">
            </div>
            <div class="input-group">
              <label>IGST_Rate</label>
              <input type="text" name="IGST_Rate" class="form-control" ng-model="details.IGST_Rate" placeholder="IGST_Rate">
            </div>
            <div class="input-group">
              <label>IGST_Amount</label>
              <input type="text" name="IGST_Amount" class="form-control" ng-model="details.IGST_Amount" placeholder="IGST_Amount">
            </div>
            <div class="input-group">
              <label>TCS</label>
              <input type="text" name="TCS" class="form-control" ng-model="details.TCS" placeholder="TCS">
            </div>
            <div class="input-group">
              <label>Cess_Rate</label>
              <input type="text" name="Cess_Rate" class="form-control" ng-model="details.Cess_Rate" placeholder="Cess_Rate">
            </div>
            <div class="input-group">
              <label>Cess_Amount</label>
              <input type="text" name="Cess_Amount" class="form-control" ng-model="details.Cess_Amount" placeholder="Cess_Amount">
            </div>
            <div class="input-group">
              <label>Other_Charges</label>
              <input type="text" name="Other_Charges" class="form-control" ng-model="details.Other_Charges" placeholder="Other_Charges">
            </div>
            <div class="input-group">
              <label>Roundoff</label>
              <input type="text" name="Roundoff" class="form-control" ng-model="details.Roundoff" placeholder="Roundoff">
            </div>
            <div class="input-group">
              <label>Item_Total_Including_GST</label>
              <input type="text" name="Item_Total_Including_GST" class="form-control" ng-model="details.Item_Total_Including_GST" placeholder="Item_Total_Including_GST">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="send()">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
          </div>
      </form>
      </div>
    </div>
  </div>
  </form>
</div>
</div>
</div>